$background: #e6ecf0;
$blue: #1da1f2;

* {
    margin: 0 auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-style: normal;

    p, h1, h2, h3, h4, ul, span {
        margin: 0;
        padding: 0;
    }

}

body {
    background: $background;

    .header {
        height: 48px;
        background: url('./utils/twitter.png') white no-repeat center;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        background-size: auto 50%;

        .header-left {
            float: left;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-left: 2%;
            color: #66757f;

            .glyphicon-home, .glyphicon-bell, .glyphicon-envelope, .glyphicon-flash {
                font-size: 20px;
                margin: 10px;
                &:hover {
                    cursor: pointer;
                }

                .nav-name {
                    font-size: 13px;
                    font-weight: bold;
                    padding: 5px;
                    float: right;
                }
            }

        }

        .header-right {
            float: right;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 5px;
            margin-right: 1%;

            .form-group {
                position: relative;
                margin: auto;

                .glyphicon-search {
                    position: absolute;
                    padding: 10px;
                    right:  0px;
                    color: darkgrey;
                    &:hover {
                        cursor: pointer
                    };
                }

                input { 
                    background: #f5f8fa;
                    color: #14171a;
                    font-size: 12px;
                    border-radius: 21px;
                    height: 32px;
                    border: 1px solid #e6ecf0;
                    padding-left: 10px;
                    width: 200px;
                }
            }

            img {
                max-height: 30px;
                margin-left: 20px;
                margin-right: 20px;
                border-radius: 50%;    
                &:hover {
                    cursor: pointer;
                }
            }

            button {
                margin-right: 30px;
                background: $blue;
                color: white;
                font-weight: bolder;
                font-size: 14px;
                border-radius: 100px;
                height: 35px;
                width: 73px;
                border: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }


    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        color: $blue;
        max-width: 600px;
        margin-top: 10px;
        margin-bottom: 80px;

        .write-a-tweet {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #E8F4FB;

            img {
                max-height: 35px; 
                margin-left: 20px;
                margin-right: 10px;
                border-radius: 50%;
            }

            .form-group {
                margin: 10px;
                position: relative;
                width:100%;
               
                input {
                    width: 100%;
                    height: 35px;
                    border: 1px solid #a3d2f1;
                    border-radius: 4px;
                    padding-left: 5px;
                }

                .glyphicon-picture {
                    position: absolute;
                    right: 2px;
                    margin: 5px;
                    font-size: 20px;
                }
            }
        }

        .tweets {
            width: 100%;
            height: auto;

            .card {
                position: relative;
                padding-bottom: 30px;
                border-bottom: 1px solid $background;

                img {
                    max-height: 50px;
                    border-radius: 50%;
                    margin: 10px;
                    vertical-align: top;
                    top: 8%;
                }

                .card-body {
                    width: 90%;
                    position: absolute;
                    margin-left: 30px;
                    vertical-align: top;
                    top: 8%;
                    
                    .aligned {
                        padding: 0 40px;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;

                        .card-title {
                            font-size: 14px;
                            color: #14171a;
                            font-weight: bold;
                            word-break: break-all;
                        }
                
                        .username, .time {
                            color: #657786;
                            font-weight: normal;
                            font-size: 14px;
                            margin-left: 5px;
                        }
                    }

                    .tweet {
                        width: 100%;
                        color: #14171a;
                        padding: 0 40px;
                        padding-bottom: 8px;
                    }

                    .aligned-icons {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        margin-bottom: 5px;
                        padding-bottom: 8px;
                        color: #657786;
                        margin-right: 250px;
                        margin-left: 20px;
                        
                        .glyphicon {
                            &:hover {
                                color: green;
                                cursor: pointer;
                            }
                        }

                        .tweet-info {
                            margin: 2px;
                            font-weight: bold;
                            font-size: 12px;
                        }
                    }
                }
            } 
        }

        .who-to-follow-card {
            width: 288px;
            position:absolute;
            top: 9%;
            right: 3%;
            background: white;
            color: #14171a;

            header {
                display: flex;
                flex-direction: row;
                margin: 5px;
                padding-top: 10px;
                padding-left: 10px;

                .title {
                    font-size: 18px;
                    color: #14171a;
                    font-weight: bold;
                    word-break: break-all;
                }

                .subtitle {
                    color: $blue;
                    font-weight: normal;
                    font-size: 12px;
                    margin-left: 10px;
                    line-height: 25px;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }

            .recommendations {
                border-bottom: 1px solid $background;
                height: 80px;
                .aligned-users {
                    display: flex;
                    flex-direction: row;
                    img {
                        max-height: 50px;
                        border-radius: 50%;
                        margin: 2%;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .name {
                        font-size: 14px;
                        color: #14171a;
                        font-weight: bold;
                        word-break: break-all;
                        margin-top: 3%;
                        margin-left: 2%;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .username {
                        color: #657786;
                        font-weight: normal;
                        font-size: 14px;
                        margin-left: 5px;
                        margin-top: 3%;
                    }
                }
                button {
                    margin-left: 65px;
                    background: white;
                    color:$blue;
                    font-weight: bolder;
                    font-size: 12px;
                    border-radius: 100px;
                    border: 1px solid $blue;
                    height: 28px;
                    width: 80px;
                    &:hover {
                        cursor: pointer;
                        background: rgba(139, 189, 253, 0.5)
                    }
                    transform: translateY(-115%);
                }
            }
            footer {
                padding: 20px;
                i {
                    color: $blue;
                    font-weight: normal;
                    font-size: 12px;
                    margin-left: 10px;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                    vertical-align: middle;
                }

                .glyphicon {
                    color: $blue;
                    &:hover {
                        cursor: pointer;
                    }
                }

            } 

        }

        .user-profile {
            width: 288px;
            height: 220px;
            position:absolute;
            top: 9%;
            left: 3%;
            background: white;
            color: #14171a;

            img {
                width: 100%;
            }

            header {
                img {
                    width: 27%;
                    border-radius: 50%;
                    margin-left: 3%;
                    transform: translateY(-40%);
                    border: 4px solid white;
                }

                h1 {
                    font-size: 18px;
                    color: #14171a;
                    font-weight: bold;
                    word-break: break-all;
                    transform: translateY(-350%) translateX(33%);
                    &:hover {
                        cursor: pointer;
                    }
                }

                h2 {
                    color: #657786;
                    font-weight: normal;
                    font-size: 16px;
                    margin-left: 5px;
                    margin-top: 3%;
                    transform: translateY(-410%) translateX(30%);
                }
            }
            .user-stats {
                display: flex;
                flex-direction: row;
                margin: 5px;

                h3 {
                    justify-content: space-evenly;
                    align-items: center;
                    font-size: 13px;
                    font-weight: bold;
                    padding: 15px;
                    color: #66757f;
                    transform: translateY(-120%)
                }

                span {
                    color: $blue;
                    font-size: 20px;
                }
            }

        }

        .trends {
            width: 288px;
            position:absolute;
            top: 45%;
            left: 3%;
            background: white;

            header {
                display: flex;
                flex-direction: row;
                margin: 5%;

                h1 {
                    color: #14171a;
                    font-size: 18px;
                    font-weight: bolder;
                }
    
                h4 {
                    color: $blue;
                    font-weight: normal;
                    font-size: 12px;
                    margin-left: 10px;
                    margin-top: 4px;
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }    
            }

            .each-trend {
                margin: 5%;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                h2 {
                    color: $blue;
                    font-size: 14px;
                    font-weight: bold;
                }
                span {
                    font-size: 12px;
                    color: #66757f;
                }
            }

        }

    }
}
